.container {
	display: flex;
	height: 100vh;
	overflow: hidden;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;
	width: calc(100% - 260px);
	@media (max-width: 768px) {
		width: 100%;
	}
}

.dropdown {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 100;
	transform: translateX(100%);
	box-shadow: 0 0 64px 0 #00000012;
	border-left: 1px solid var(--color-gray-dark);
	background: #fff;
	width: 100%;
	max-width: 260px;
	padding: 0.5rem 1rem;
	overflow-y: auto;
	transition: transform 0.3s ease-in-out;
	max-height: 100vh;
	z-index: 9999999999999999;
	visibility: hidden;
	opacity: 0;

	&.dropdownOpen {
		transform: translateX(0);
		visibility: visible;
		opacity: 1;
	}

	li {
		list-style: none;
	}
}

.dropdownHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	justify-items: flex-start;
	gap: 16px;
	margin-bottom: 1rem;
}

.dropdownTitle {
	font-weight: 600;
	font-size: 1rem;
	margin: 0;
}

.dropdownToggle {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	color: #444;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background: var(--color-gray);
	}
}
