.container {
	display: flex;
	height: 100vh;
	overflow: hidden;
	background-color: #f3f4f6;
}

.main {
	background-color: #f9fafb;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	overflow-y: auto;
	height: 100vh;
	position: relative;
	width: calc(100% - 260px);
}
