.form {
	width: 100%;
}

.inputWrapper {
	display: flex;
	align-items: flex-start;
	padding: 12px 16px;
	border-radius: 20px;
	border: 1px solid var(--color-gray-dark);
	background-color: #fff;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.08);
	min-height: 104px;
}

.textarea {
	flex: 1;
	resize: none;
	font-size: 1em;
	color: #111827;
	border: none;
	outline: none;
	background: transparent;
	padding: 8px 0;
	max-height: 200px;
	overflow-y: auto;
	margin-bottom: 48px;
	min-height: 46px;
}

.sendButton {
	background-color: #111;
	color: white;
	border: none;
	border-radius: 9999px;
	width: 36px;
	height: 36px;
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
	position: absolute;
	right: 16px;
	bottom: 12px;
	padding: 0;
}

.sendButton:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.previewWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 12px;
}

.filePreview {
	position: relative;
	display: flex;
	align-items: center;
	background: #f3f3f3;
	border-radius: 6px;
	padding: 6px 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	max-width: 250px;
}

.previewThumb {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	overflow: hidden;
	background: #e1e1e1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	flex-shrink: 0;
}

.previewThumb img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.fileIcon {
	font-size: 20px;
	color: #666;
}

.previewInfo {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.fileName {
	font-size: 13px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fileType {
	font-size: 11px;
	color: #888;
}

.emoveButton {
	position: absolute;
	top: -4px;
	right: -4px;
	background: transparent;
	border: none;
	color: #ffffff;
	background: var(--text-color);
	font-size: 16px;
	cursor: pointer;
	line-height: 1;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	line-height: 16px;

	&:hover,
	&:focus {
		background: black;
		color: #fff;
	}
}

.uploadTrigger {
	font-family: var(--font);
	border-radius: 36px;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 22px;
	appearance: none;
	box-shadow: none;
	background: #f1f1f1;
	outline: none;
	border: none;
	display: block;
	border: 1px solid #d4d3d3;
	position: absolute;
	bottom: 12px;
	left: 16px;
	cursor: pointer;
	padding: 0;
	color: var(--text-color);

	&:hover {
		background: #d4d3d3;
	}
}
